* {
    color: lightgreen;
    /* display: block; */
    /* margin: 4px;x */
    background-color: black;
}
.videoo {
    border: 10px solid bisque;
    border-radius: 20px;
    /* background-color: blue; */
    width: 500px;
    align-items: center;
    display: block;
    margin: 20px auto;
    /* box-shadow: 10px 10px 7px; */
    box-shadow: 0px 0px 10px 10px ;

}

.audioo {
    /* border: 10px solid bisque; */
    border-radius: 10px;
    /* background-color: blue; */
    width: 500px;
    align-items: center;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 10px;
}

h3 {
    /* background-color: bisque; */
    /* padding: 20px; */
    text-decoration: underline;
    /* box-shadow: 10px 10px 15px darkblue; */
    text-align: center;
}

#notes {
    text-align: left;
}
nav > a {
    text-decoration: none;
}

footer {
    text-align: center;
}
article > p {
    text-align: center;
}
article > h3 {
    text-decoration: none;
}
figure > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

section > p, h5 {
    text-align: center;
}
.putt {
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
}
#submit {
    /* color: red; */
    display: block;
    margin-left: auto;
    /* margin-bottom: 50%; */
    /* margin-top: 50%; */
}